{# app/Resources/views/blog/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Blog administrarion</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% block content %}{% endblock %}
{% endblock %}
